<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhoneGap_xml_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PhoneGap_xml_Generator.My.MySettings>
            <setting name="allow_intent" serializeAs="String">
                <value />
            </setting>
            <setting name="author" serializeAs="String">
                <value />
            </setting>
            <setting name="content" serializeAs="String">
                <value />
            </setting>
            <setting name="description" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="platform_android" serializeAs="String">
                <value />
            </setting>
            <setting name="platform_ios" serializeAs="String">
                <value />
            </setting>
            <setting name="platform_spec" serializeAs="String">
                <value />
            </setting>
            <setting name="platform_windows" serializeAs="String">
                <value />
            </setting>
            <setting name="platform_wp8" serializeAs="String">
                <value />
            </setting>
            <setting name="plugins" serializeAs="String">
                <value />
            </setting>
            <setting name="preference" serializeAs="String">
                <value />
            </setting>
            <setting name="initialize" serializeAs="String">
                <value />
            </setting>
        </PhoneGap_xml_Generator.My.MySettings>
    </userSettings>
</configuration>